* {
	margin: 0;
	padding: 0;
}

/*Estilo barra de navegacion*/
.header-nav {
	width: 100%;
	height: 60px;
	background-color: #161615;
}

.header-ul {
	display: grid;
	grid-template-areas: 
	"header header header header header";
	justify-content: center;
	list-style-type: none;
	padding: 14px;
}

.header-ul li a {
	padding: 14px;
	text-decoration: none;
	color: white;
}


/*Estilo main provincia cordoba*/
.main-cordoba {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Estilo main provincia buenos aires*/
.main-bsas {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Estilo main provincia chubut*/
.main-chubut {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*Estilo main provincia salta*/
.main-salta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
